name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get

      - name: Build IPA (No Code Signing)
        run: flutter build ios --release --no-codesign

      - name: Create Payload directory
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/

      - name: Zip Output to IPA
        run: zip -r release_no_codesign.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: release-ipa
          path: release_no_codesign.ipa
